<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matador de monstros</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="https://img.icons8.com/color/48/000000/optin-monster.png">
</head>
<body>
    <div id="app">
        <section class="panel scores">
            <div class="score">

                <h1> <img class="play" src="https://i.pinimg.com/originals/c8/95/15/c895154cf619c01cb507ea100a85fc6e.png">2319</h1>
                <div class="life-bar">
                    
                    <div class="life"
                        :class='{danger: playerLife < 20}' :style="{width: `${playerLife}%`}">
                    </div><!--life-->

                </div>
                <div> {{ playerLife }}% </div>

            </div><!--PLAYER-->

            <div class="score">

                <h1>Monstro <img src="https://img.icons8.com/color/48/000000/optin-monster.png"></h1>
                <div class="life-bar">

                    <div class="life" 
                        :class='{danger: monsterLife < 20}' :style="{width: `${monsterLife}%`}">
                    </div>

                </div>
                <div> {{ monsterLife }}% </div>

            </div><!--MONTER-->                

        </section> <!--Scores-->

        <section v-if="hasResult"  class="panel result">
            <div v-if="monsterLife == 0" class="win"> Mandou bem, 2319!! :)</div>
            <div v-else class="lose">Não foi dessa vez, 2319 :/ </div>

        </section> <!--result-->
        <section class="panel buttons">
            <template v-if='running'>
                <button @click='attack(false)' 
                    class="btn attack"> Choro </button>
                <button @click='attack(true)' 
                    class="btn especial-attack"> Risada </button>
                <button @click='healAndHurt'
                    class="btn heal"> Biscoitinhos </button>
                <button @click='running = false' 
                    class="btn give-up"> Ir pra cama </button>
            </template>

            <button v-else @click='startGame' class="btn new-game"> Iniciar jogo </button>

        </section><!--buttons-->

        <section v-if='logs.length' class="panel logs">
            
                <ul>
                    <li v-for='log in logs' class="log" :class='log.cls'>
                        {{ log.text }}
                    </li>
                </ul>

        </section> <!--logs-->
    </div>

    <script src="app.js"></script>
</body>
</html>